<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Gollum.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <!-- URLs should point to the root of the service -->
    <Gollum.Properties.Settings>
      <setting name="ReviewBoardUrl" serializeAs="String">
        <value>https://intra/reviewboard/</value>
      </setting>
      <setting name="BugzillaUrl" serializeAs="String">
        <!-- leave empty to disable bugzilla integration -->
        <value>http://aidongw/bugzilla/</value>
      </setting>
    </Gollum.Properties.Settings>
  </userSettings>
</configuration>