<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- URLs should point to the root of the service -->
        <add key="ReviewBoardUrl" value="https://intra/reviewboard/"/>
        <add key="BugzillaUrl" value="http://aidongw/bugzilla/"/> <!-- leave empty to disable bugzilla integration -->    
    </appSettings>
</configuration>