<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- URLs should point to the root of the service -->
    <appSettings>
        <add key="ReviewBoardUrl" value="https://intra/reviewboard/"/>
        <!-- leave empty to disable bugzilla integration -->    
        <add key="BugzillaUrl" value="https://intra/bugzilla/"/> 
    </appSettings>
</configuration>